.deck {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 660px;
}

.card {
  width: 150px;
  height: 150px;
  position: relative;;
  border-radius: 5px;
  color: #FFF;
  background: #80d2fb;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

    -webkit-transform: rotateY(180deg);
       -moz-transform: rotateY(180deg);
         -o-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transition: all 0.4s ease;
       -moz-transition: all 0.4s ease;
         -o-transition: all 0.4s ease;
            transition: all 0.4s ease;}


  .open.card{
    background: #398afb;
    -webkit-transition: all 0.4s ease;
       -moz-transition: all 0.4s ease;
         -o-transition: all 0.4s ease;
            transition: all 0.4s ease;
    -webkit-transform: rotateY(0deg);
       -moz-transform: rotateY(0deg);
         -o-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
            transform: rotateY(0deg);}

  .match.card {
      background: #edc807;
      -webkit-transform: rotateY(0deg);
         -moz-transform: rotateY(0deg);
           -o-transform: rotateY(0deg);
          -ms-transform: rotateY(0deg);
              transform: rotateY(0deg);
  }

.card i {
    font-size: 0px;

}

.open i,
.match i {
    font-size: 28px
}
